@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Slab', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
